*~
aclocal.m4
aminclude_static.am
ar-lib
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
cscope.*
depcomp
.deps
.dirstamp
*.gcda
*.gcno
install-sh
*.la
libtool
*.lo
*.log
ltmain.sh
m4
Makefile
missing
*.o
stamp-h1
*.swp
tags
test-driver
*.trs
.libs
config.h
.gitignore
libmctp.pc
ctrld/mctp-ctrl
tests/libtest-utils.a
udev/rules.d/mctp0-raw-kcs3.rules
udev/rules.d/mctp0-raw-kcs4.rules
utils/mctp-demux-daemon
utils/mctp-in
utils/mctp-pipe
vdm/nvidia/mctp-vdm-util
ctrld/mctp-ctrl
