[Unit]
Description=MCTP i2c control daemon
After=mctp-i2c-demux.service
Requires=mctp-i2c-demux.service

[Service]
Restart=always
Environment=MCTP_I2C_CTRL_OPTS=null
EnvironmentFile=-/usr/share/mctp/mctp
ExecStart=/usr/bin/mctp-i2c-ctrl $MCTP_I2C_CTRL_OPTS
SyslogIdentifier=mctp-i2c-ctrl

[Install]
WantedBy=multi-user.target
