[Unit]
Description=MCTP SPI demultiplexer daemon

[Service]
Restart=always
Environment=DEMUX_SPI_BINDING_OPTS=null
EnvironmentFile=-/etc/default/mctp
ExecStart=/usr/bin/mctp-demux-daemon $DEMUX_SPI_BINDING_OPTS
SyslogIdentifier=mctp-spi-demux
