[Unit]
Description=MCTP control daemon
After=dbus.service

[Service]
Restart=always
Environment=MCTP_CTRL_OPTS=null
EnvironmentFile=-/etc/default/mctp
ExecStart=/usr/bin/mctp-ctrl $MCTP_CTRL_OPTS
SyslogIdentifier=mctp-ctrl

[Install]
WantedBy=multi-user.target
