[Unit]
Description=MCTP SPI control daemon
After=mctp-spi-demux.service
Requires=mctp-spi-demux.service

[Service]
Restart=always
Environment=MCTP_SPI_CTRL_OPTS=null
EnvironmentFile=-/usr/share/mctp/mctp
ExecStart=/usr/bin/mctp-spi-ctrl $MCTP_SPI_CTRL_OPTS
ExecStop=/usr/bin/mctp-vdm-util -c restart_notification -t 0

[Install]
WantedBy=multi-user.target
