[Unit]
Description=MCTP I2C demultiplexer daemon

[Service]
Type=notify
Restart=always
Environment=DEMUX_I2C_BINDING_OPTS=null
EnvironmentFile=-/usr/share/mctp/mctp
ExecStart=/usr/bin/mctp-demux-daemon $DEMUX_I2C_BINDING_OPTS
SyslogIdentifier=mctp-i2c-demux
