[Unit]
Description=MCTP SPI control daemon
After=serial-getty@ttyS4.service

[Service]
Restart=always
Environment=MCTP_SPI_CTRL_OPTS=null
EnvironmentFile=-/etc/default/mctp
ExecStart=/usr/bin/mctp-spi-ctrl $MCTP_SPI_CTRL_OPTS
SyslogIdentifier=mctp-spi-ctrl

[Install]
WantedBy=multi-user.target
